

.section-01-01-about {
    text-align: center;
    margin: 0px 40px;
    background: #ebffd9;
    border-radius: 14px;
    padding: 20px 150px 40px 150px;
}

.section-01-01-about h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.description-about p {
    font-size: 1.2em;
    margin: 20px 0;
    text-align: left;
    color: #333;
}
