
.contact-area {
    text-align: center;
    margin: 0px 40px 80px 40px;
    background: #ebffd9;
    border-radius: 14px;
    padding: 20px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    width: 60%;
    background: #fffffe;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.h2-title {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    background: #93ce0a;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}

.submit-button:hover {
    background: #7fff07;
}