

  .course-selection {
    background: #ebffd9;
    border-radius: 14px;
    padding: 20px;
    margin: 0px 40px 80px 40px;
    text-align: center;
    color: #333;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .course-selection h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .courses-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
  }
  
  .course-card {
    background-color: #fffffe;
    padding: 20px;
    margin: 10px;
    border-radius: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
  }
  
  .course-card:hover {
    transform: scale(1.05);
    background-color: #93ce0a;
  }
  
  .course-card h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5em;
  }
  
  .course-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .course-details {
    display: none;
    background: #ebffd9;
    border-radius: 14px;
    padding: 20px;
    margin: 0px 40px 80px 40px;
    text-align: center;
  }
  
  .course-details.visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  .course-details h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .course-summary {
    font-size: 1.2em;
    margin: 20px 5px;
    padding-left: 100px;
    color: #333;
    text-align: left;
  }
  
  .enter-button {
    padding: 10px 20px;
    background-color: #93ce0a;
    font-weight: bold;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .enter-button:hover {
    background: #7fff07;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #93ce0a;
    font-weight: bold;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .back-button:hover {
    background: #7fff07;
  }
  

 
