header {
  background: #333;
  color: #fff;
  padding: 10px 0 ;
  text-align: center;
  position: fixed;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: bold; 
  font-size: 1.3em; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease-in-out;
  transition: transform 0.4s;
}

header nav a:hover {
  color: #93ce0a;
  transform: scale(1.3);
}
